body {
    margin: 0;
    padding: 0;
    font-family: malgun gothic,verdana,consolas;
    font-size: 12px;
    height: 500px;
    min-width: 950px;
}

h3 {
    margin-left: 25px;
    font-weight: normal;
}

input {
    border: 2px dotted;
    outline: none;
}

.treeWrap {
    width: 300px;
    height: 500px;
    overflow: auto;
    float: left;
    font-size: 11px;
}

.treeWrap ul li {
    list-style: none;
    width: 150px;
    margin: 0;
    cursor: pointer;
}

.treeWrap ul li em {
    font-weight: bold;
    font-style: normal;
}

.treeWrap ul li.tui-tree-leaf {
    padding-left: 0px;
}

.treeWrap ul {
    margin: 0;
    padding-left: 15px;
}

.treeWrap button {
    margin-right: 5px;
    padding: 0;
    width: 13px;
    height: 13px;
    font-size: 5px;
    color: #000;
    vertical-align: middle;
    background-color: #fff;
    border: 0;
    outline: 0;
}

.treeWrap .tui-tree-opened button {
    background-position: -107px 0;
}

.treeWrap .tui-tree-closed button {
    background-position: -92px 0;
}

.treeWrap .tui-tree-text {
    display: inline-block;
    padding: 10px;
    *display: inline;
    zoom: 1;
}

.treeWrap .tui-tree-selected > .tui-tree-text {
    background-color: #F49999;
}

.treeWrap .tui-tree-hovered > .tui-tree-text {
    background-color: #F49999;
}

.treeWrap .tui-tree-line {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    font-size: 0;
    z-index: -9999;
}

.treeWrap .tui-custom-icon {
    display: inline-block;
    margin-right: 5px;
    padding: 0;
    width: 20px;
    height: 16px;
    font-size: 0px;
    color: #000;
    vertical-align: middle;
    background: url('../sp_floor.png') no-repeat left;
    background-position: -166px;
    *display: inline;
    zoom: 1;
}

.treeWrap .tui-tree-toggleBtn.opened {
    background-position: -107px 0;
}

.treeWrap .tui-tree-toggleBtn.closed {
    background-position: -92px 0;
}

.treeWrap .tui-tree-toggleBtn.hidden {
    display: none;
}
