body {margin:0;padding:0; font-family: malgun gothic,verdana,consolas; font-size:12px; font-size:11px; }
h3 {margin-left:25px; font-weight: normal;}
.treeWrap { width: 500px; height:500px; overflow:auto; }
.treeWrap ul li { list-style: none; padding:3px 0;  }
.treeWrap ul li em { font-weight: bold; font-style: normal}
.treeWrap ul li.leap_node { padding-left:17px; }
.treeWrap ul {padding-left:15px;}
.treeWrap button {background:url('../sp_floor.png') no-repeat left; width:13px; height:13px; font-size: 0px; padding:0; color:#000000;vertical-align: middle; margin-right:5px; border:0; }
.treeWrap .open button {background-position: -107px 0; }
.treeWrap .close button {background-position: -92px 0; }

.selected { background-color:#efefef; }